<div class="row">
	<div class="small-10 columns">	
		<h1>Editing collection</h1>
		<p>Add as many words as you need.</p>

		<%= render 'form' %>

		<%= link_to 'Show', @status %> |
		<%= link_to 'Back', statuses_path %>
	</div>
</div>